* {
	margin: 0 auto;
	padding: 0;
	
}

img {
	border: none;
}

h1 {
	font-family: Verdana;
	font-size: 1.7em;
}

h1 p {	
}

caption {
	font-style: bold;
	font-family: Verdana;
	font-size: 1.8em;
	
}

body {
	color: #ffffff;
	font-family:   Andale Mono, Courier New, Sans-serif;
	font-size: 100%;
	background: url("images/background.png");
	background-size: 100%;
	background-repeat:no-repeat;
	background-color: #000000;
			
}

#header {
	font-size: 2em;
}

#down {
	margin-top: 100px;
	
	width: 250px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	background: rgba(256,256,256, 0.3);
}

#wood {
	height: 14px;
}


